<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="pull-right hide-phone">
					<a href="https://www.websitedevelopers.pk/">Website Developers	</a>
				</div>
				<div>
					<strong>Application</strong> - Copyright © @DateTime.Now.Year
				</div>

			</div>
		</div>
	</div>
</footer>